html {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue:  hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
body {
    width: 30%;
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: auto;
}
h1 {
    width: 90%;
    color: var(--dark-blue);
    margin-top: 20px;
    margin: 20px auto 20px auto;
}

img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 20px;
}

.qr-box {
    background-color: var(--white);
    width: 20rem;
    border: 3px solid var(--white);
    border-radius: 20px;   
    margin: 15rem auto 0 auto;
    padding: 15px 15px 25px 15px;
}

h2 {
    color: var(--grayish-blue);
    font-size: 15px;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 375px) {

    body {
        width: 325px;
        margin: auto;
        padding: 0;
    }

    .qr-box {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        
    }
    img {
        width: 100%;
    }
}